<div class="ui container">
  <div class="ui three column grid">
    <div class="row">
      <div class="column"></div>
      <div class="column">
        <h2 class="ui teal header centered"> New user:</h2>
        <%= form_for(@form, url: sessions_sign_up_path, method: :post, html: {class: 'ui large form'}) do |f| %>
            <div class="ui container">
              <div class="field ui left icon input fluid">
                <i class="user icon"></i>
                <%= f.text_field :email, placeholder: "Email", label: false %>
              </div>
              <div class="field ui left icon input fluid">
                <i class="lock icon"></i>
                <%= f.password_field :password, placeholder: "Password", label: false %>
              </div>
              <div class="field ui left icon input fluid">
                <i class="lock icon"></i>
                <%= f.password_field :confirm_password, placeholder: "Password, again", label: false %>
              </div>
              <div class="field ui left icon input fluid">
                <i class="lock icon"></i>
                <%= f.text_field :name, placeholder: "Name", label: false %>
              </div>
              <div class="field ui left icon input fluid">
                <i class="lock icon"></i>
                <%= f.text_field :surname, placeholder: "Surname", label: false %>
              </div>
              <div>
                <%= f.submit "Sign up!", class: 'ui large teal fluid submit button ' %>
              </div>
            </div>
        <% end %>
        <% if @form.errors.present? %>
            <ul>
              <% @form.errors.messages.each_with_index do |error_message, i| %>
                  <% if error_message[1].size>0 %>
                      <li><%= "#{error_message[0]}: #{error_message[1].join('; ')}" %></li>
                  <% end %>
              <% end %>
            </ul>
        <% end %>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>