<!DOCTYPE html>
<html>
<head>
  <title>WeatherTrackingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui green inverted segment">
  <div class="ui inverted secondary menu">
    <a class="active item">
      WeatherApp
    </a>
    <div class="right item">
      <%= link_to 'Log In', sessions_sign_in_path, class: 'ui item button'%>
      <%= link_to 'Sign Up', sessions_sign_up_path, class: 'ui item button'%>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
