<!DOCTYPE html>
<html>
<head>
  <title>WeatherTrackingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= concept("menu/cell/main_panel", nil, {logged_in: logged_in?, current_user: current_user}) %>

<%= yield %>

</body>
</html>
